.head {
  text-align: center;
}

.lorem {
  color: black;
  text-align: center;
}

.delete {
  background-color: antiquewhite;
  color: darkslateblue;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  border-color: black;
}

.buttoncontainer {
  display: flex;
  justify-content: center;
}
